@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: "DM Serif Display", serif; */
/* font-family: "DM Sans", sans-serif; */

* {
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #e9ea9d;
}

body {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
}

#container {
  width: 90vw;
  /* background-color: antiquewhite; */
  background: none;
  padding: 10px;
  border-radius: 5px;
}

.blur {
  background-color: rgb(181, 120, 224);
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: -10px;
  border-radius: 100%;
  filter: blur(100px);
}

.blur1 {
  background-color: rgb(224, 69, 69);
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: -1;
  right: 0px;
  top: -10px;
  border-radius: 100%;
  filter: blur(100px);
}

h1 {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 10px;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.493);
}

.links {
  text-align: center;
  margin: 10px 0px;
  font-size: 1.2rem;
}

.links a {
  margin: 5px 5px;
  color: #00000079;
  transition: 0.3s ease-in-out;
}

.links a:hover {
  color: #000;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-size: 2em;
  margin: 10px 0px;
  text-decoration: underline;
}

main {
  margin-top: 10px;
}

main p {
  font-family: "DM Sans", sans-serif;
  text-align: justify;
}

ul {
  list-style-position: outside;
  padding-left: 15px;
  font-family: "DM Sans", sans-serif;
}

.download {
  position: fixed;
  bottom: 20px;
  right: 30px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.692));
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  #container {
    width: 70vw;
  }
  .blur {
    left: 100px;
    width: 300px;
    top: -10px;
  }
  .blur1 {
    right: 100px;
    width: 300px;
    top: -10px;
  }
}

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  #container {
    width: 60vw;
  }
  .blur {
    left: 100px;
    width: 300px;
    top: -10px;
  }
  .blur1 {
    right: 100px;
    width: 300px;
    top: -10px;
  }
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #container {
    width: 50vw;
  }
  .blur {
    left: 300px;
    width: 400px;
    top: -10px;
  }
  .blur1 {
    right: 300px;
    width: 400px;
    top: -10px;
  }
}
